
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}



@model IEnumerable<WEB.Models.StudentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>@User.Identity.Name</h2> 
<h4>@DateTime.Now</h4>

@using (Html.BeginForm("Casy", "Home"))
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="form-group">

                    @Html.TextBoxFor(Model => item.Name)
                    @Html.CheckBoxFor(modelItem => item.IsPresent) isPresentt
                </div>
            </td>
        </tr>
    }
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Відправити" class="btn btn-default" />
    </div>
}

