
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>


<div class="container-table100">
    <table class="rwd-table">
        <thead>
            <tr class="table100-head">
                <th class="column1">№</th>
                <th class="column2">ПІБ</th>
                <th class="column3">Присутнітсь</th>
                <th class="column4">Причина відсутності</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="column1">1</td>
                <td class="column2">
                    <input type="text">
                </td>
                <td class="column3">
                    <input type="checkbox">
                </td>
                <td class="column4">
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td class="column1">2</td>
                <td class="column2">
                    <input type="text">
                </td>
                <td class="column3">
                    <input type="checkbox">
                </td>
                <td class="column4">
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td class="column1">3</td>
                <td class="column2">
                    <input type="text">
                </td>
                <td class="column3">
                    <input type="checkbox">
                </td>
                <td class="column4">
                    <input type="text">
                </td>
            </tr>

        </tbody>
    </table>
</div>

</body>
</html>